In [ ]:
list_1=["umar",1,3,"55"]
type(list_1[0])

str

In [ ]:
list_1.index(1,1) #index of occurence of 1 after index 1

1

In [ ]:
m=list_1[:]

In [ ]:
m

['umar', 1, 3, '55']

In [ ]:
del(list_1[2])

In [ ]:
list_1

['umar', 1, '55']

In [ ]:
list_1.pop

tuples don't support sort cz it bring permanant change and typles are immutable

In [ ]:
name="umar farooq"

In [ ]:
name.split()

['umar', 'farooq']

In [ ]:
import numpy as np

In [ ]:
my_tuple=((1,3),(2,4),(3,3))

In [ ]:
my_tuple.count(2)

0

In [ ]:
my_tuple.count((2,4))

1

In [ ]:
a=eval(input("enter"))
a

((1, 2), (2, 3))

In [ ]:
type(a[0])

int